@{
	ViewData["Title"] = "My Account's Details";
}

<!-- Page Title -->
<section class="flat-spacing-2 pb-0">
    <div class="container">
        <div class="page-title">
            <div class="breadcrumbs">
                <ul class="bread-wrap">
                    <li><a href="index-2.html" class="text-main-4 link-secondary">Home</a></li>
                    <li class="br-line w-12 bg-main"></li>
                    <li>Account</li>
                </ul>
                <h1 class="heading fw-normal text-uppercase">
                    my account
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- /Page Title -->
<!-- Account -->
<div class="flat-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar-account-wrap sidebar-content-wrap sticky-top d-lg-block d-none">
                    <ul class="my-account-nav">
                        <li>
                            <a href="account-page.html" class="link-account">
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="account-orders-empty.html" class="link-account">
                                <span class="text">My Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="wishlist.html" class="link-account">
                                <span class="text">My Wishlist</span>
                            </a>
                        </li>
                        <li>
                            <a href="account-addresses.html" class="link-account">
                                <span class="text">Addresses</span>
                            </a>
                        </li>
                        <li>
                            <a href="account-details.html" class="link-account active">
                                <span class="text">Detail</span>
                            </a>
                        </li>
                        <li>
                            <a href="index-2.html" class="link-account">
                                <span class="text">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="my-acount-content account-dashboard">
                    <h4 class="heading fw-normal">ACCOUNT DETAIL</h4>
                    <form action="#" class="form-edit-account style-border">
                        <div class="form-content-2">
                            <fieldset class="tf-field-2">
                                <input class="tf-input" type="text" placeholder="" required>
                                <label class="tf-lable">First name*</label>
                            </fieldset>
                            <fieldset class="tf-field-2">
                                <input class="tf-input" type="text" placeholder="" required>
                                <label class="tf-lable">Last name*</label>
                            </fieldset>
                            <fieldset class="tf-field-2">
                                <input class="tf-input" type="email" placeholder="" required>
                                <label class="tf-lable">Email*</label>
                            </fieldset>
                        </div>
                        <h5 class="title-pass fw-normal">Password Change</h5>
                        <div class="form-content-2">
                            <fieldset class="tf-field-2 password-wrapper">
                                <input class="tf-input password-field" type="password" placeholder="" required="">
                                <label class="tf-lable">Current Password *</label>
                                <span class=" toggle-pass icon-show-password"></span>
                            </fieldset>
                            <fieldset class="tf-field-2 password-wrapper">
                                <input class="tf-input password-field" type="password" placeholder="" required="">
                                <label class="tf-lable">New password *</label>
                                <span class=" toggle-pass icon-show-password"></span>
                            </fieldset>
                            <fieldset class="tf-field-2 password-wrapper">
                                <input class="tf-input password-field" type="password" placeholder="" required="">
                                <label class="tf-lable">Confirm password *</label>
                                <span class=" toggle-pass icon-show-password"></span>
                            </fieldset>
                        </div>
                        <button type="submit" class="tf-btn btn-fill animate-btn fw-medium">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Account -->