@{
    ViewData["Title"] = "About Us";
}

        <!-- Page Title -->
        <section class="flat-spacing-2 pb-0">
            <div class="container">
                <div class="page-title">
                    <div class="breadcrumbs">
                        <ul class="bread-wrap">
                            <li><a href="index-2.html" class="text-main-4 link-secondary">Home</a></li>
                            <li class="br-line w-12 bg-main"></li>
                            <li>About Us</li>
                        </ul>
                        <h1 class="heading fw-normal text-uppercase">
                            welcome to yash
                        </h1>
                    </div>
                    <div class="box-text">
                        <p class="text-main-4">
                            At Yash, we believe jewelry is more than an accessory—it’s a reflection of your story. With a
                            <br class="d-none d-xxl-block">
                            passion for craftsmanship and a commitment to quality, we create timeless pieces that celebrate
                            <br class="d-none d-xxl-block">
                            life’s moments, big and small. From delicate everyday essentials to statement designs, each
                            <br class="d-none d-xxl-block">
                            creation is crafted to inspire and shine for generations.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Page Title -->
        <!-- Brand Intro -->
        <section class="s-brand-intro flat-spacing-6 pb-0">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <div class="brand-intro_image mb-md-0">
                            <img src="/app/images/section/brand-intro.jpg" data-src="/app/images/section/brand-intro.jpg" alt="" class="lazyload intro-photo">
                            <div class="brand-box">
                                <img src="/app/images/section/item-1.png" data-src="/app/images/section/item-1.png" alt="" class="lazyload">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6 class="brand-intro_subtitle">we are yash</h6>
                        <h2 class="brand-intro_title">
                            very piece of jewelry should feel as special as the moment it represents.
                        </h2>
                        <p class="brand-intro_text">
                            From the delicate curves of a handcrafted ring to the brilliance of a perfectly cut diamond, each piece we create is a
                            reflection of artistry, precision, and emotion. Inspired by beauty, heritage, and modern sophistication, we blend
                            traditional techniques with contemporary designs to bring you jewelry that lasts a lifetime.
                        </p>
                        <span class="br-line"></span>
                        <div class="brand-intro_author flex-sm-nowrap">
                            <div class="author-info">
                                <img src="/app/images/avatar/avt-1.jpg" alt="Author" class="img-author">
                                <div class="info">
                                    <h5 class="name"><a href="#" class="link">John Smith</a></h5>
                                    <span class="duty text-main-4">Founder of Yash</span>
                                </div>
                            </div>
                            <div class="author-signature">
                                <img src="/app/images/section/signature.svg" alt="Signature">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Brand Intro -->
        <!-- Established -->
        <section class="s-established flat-spacing-3">
            <div class="container">
                <h2 class="established-title">Established - 1995</h2>
                <p class="established-description mb_16">
                    Siblings John Smith and Carla made a life-changing decision back in 1995: quitting their jobs in Architecture and Finance
                    <br class="d-none d-lg-block">
                    to fulfil their vision of creating an industry-changing jewelry brand. Yash is the result of a balanced combination of the
                    <br class="d-none d-lg-block">
                    creative and business worlds, working together towards the disruption of the jewelry industry.
                </p>
                <p class="established-summary">
                    Headquartered in Sydney, YASH is currently available in more than 2000 points of sale worldwide and has become an
                    <br class="d-none d-lg-block">
                    internationally recognized brand.
                </p>
            </div>
        </section>
        <!-- /Established -->
        <!-- Core Value -->
        <section class="s-core-values">
            <div class="container">
                <div class="values-grid tf-grid-layout md-col-2 xl-col-3">
                    <div class="core-values-image">
                        <img src="/app/images/section/core-value.jpg" data-src="/app/images/section/core-value.jpg" alt="Core Value" class="lazyload">
                    </div>
                    <div class="value-box hightlight">
                        <h4 class="value-title">TIMELESS CRAFTSMANSHIP</h4>
                        <span class="br-line"></span>
                        <p class="value-description">
                            Every piece is meticulously crafted with precision, blending traditional artistry with modern innovation to ensure lasting
                            beauty.
                        </p>
                    </div>
                    <div class="value-box">
                        <h4 class="value-title">EXCEPTIONAL QUALITY</h4>
                        <span class="br-line"></span>
                        <p class="value-description">
                            We source only the finest materials, from radiant gemstones to premium metals, ensuring each creation meets the highest
                            standards.
                        </p>
                    </div>
                    <div class="value-box">
                        <h4 class="value-title">MEANINGFUL DESIGNS</h4>
                        <span class="br-line"></span>
                        <p class="value-description">
                            Our jewelry is more than just an accessory—it’s a symbol of love, milestones, and personal expression, designed to tell
                            your story.
                        </p>
                    </div>
                    <div class="value-box hightlight">
                        <h4 class="value-title">CUSTOMER COMMITMENT</h4>
                        <span class="br-line"></span>
                        <p class="value-description">
                            Your satisfaction is at the heart of everything we do, offering personalized service and lifelong support for every Yash
                            piece.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Core Value -->
        <!-- Fearture -->
        <section class="flat-spacing-3 feature-intro">
            <div class="container">
                <div class="row flex-wrap-reverse">
                    <div class="col-xxl-5 offset-xxl-1 col-md-6 d-flex align-items-center">
                        <div class="text-content">
                            <h2 class="feature-title">CARING JEWELLERY IS STILL OUR PASSION</h2>
                            <p class="feature-subtitle">
                                We never want to waste a scrap of precious metal. Our pieces are handcrafted from recycled 18ct
                                gold vermeil and gold plating, and recycled sterling silver. Our Yash collection elevates our iconic
                                designs in recycled 14ct solid gold and diamonds.
                            </p>
                            <a href="shop-default.html" class="cta-btn tf-btn type-large">
                                shop all jewellry
                                <i class="icon-arrow-right-2 fs-24"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-md-6">
                        <div class="visual-content mb-xl-0">
                            <img src="/app/images/section/feature-visual.jpg" data-src="/app/images/section/feature-visual.jpg" alt=""
                                class="lazyload img-visual">
                            <div class="brand-box">
                                <img src="/app/images/section/item-2.png" data-src="/app/images/section/item-2.png" alt="" class="lazyload">
                            </div>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-10">
                        <div class="">


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Fearture -->
        <!-- Shop Collection -->
        <section class="flat-spacing-4 pt-0">
            <div class="container">
                <h3 class="s-title">shop our collections</h3>
            </div>
            <div class="slider-layout-right">
                <div dir="ltr" class="swiper tf-swiper" data-preview="4.5" data-tablet="3.5" data-mobile-sm="2.5" data-mobile="1.5" data-space-lg="30"
                    data-space-md="20" data-space="15" data-pagination="1" data-pagination-sm="2" data-pagination-md="3" data-pagination-lg="4">
                    <div class="swiper-wrapper">
                        <!-- item 1 -->
                        <div class="swiper-slide">
                            <a href="shop-collection-list.html" class="wg-cls hover-img">
                                <div class="image img-style">
                                    <img src="/app/images/collections/cls-29.jpg" data-src="/app/images/collections/cls-29.jpg" alt=""
                                        class=" ls-is-cached lazyloaded">
                                </div>
                                <p class="name link text-lg">ANKLET <span class="count text-body">23</span></p>
                            </a>
                        </div>
                        <!-- item 2 -->
                        <div class="swiper-slide">
                            <a href="shop-collection-list.html" class="wg-cls hover-img">
                                <div class="image img-style">
                                    <img src="/app/images/collections/cls-30.jpg" data-src="/app/images/collections/cls-30.jpg" alt=""
                                        class=" ls-is-cached lazyloaded">
                                </div>
                                <p class="name link text-lg"> <span class="text-line-clamp-1">PERSONALISED GIFTS</span><span
                                        class="count text-body">11</span></p>
                            </a>
                        </div>
                        <!-- item 3 -->
                        <div class="swiper-slide">
                            <a href="shop-collection-list.html" class="wg-cls hover-img">
                                <div class="image img-style">
                                    <img src="/app/images/collections/cls-31.jpg" data-src="/app/images/collections/cls-31.jpg" alt=""
                                        class=" ls-is-cached lazyloaded">
                                </div>
                                <p class="name link text-lg">EARRINGS <span class="count text-body">09</span></p>
                            </a>
                        </div>
                        <!-- item 4 -->
                        <div class="swiper-slide">
                            <a href="shop-collection-list.html" class="wg-cls hover-img">
                                <div class="image img-style">
                                    <img src="/app/images/collections/cls-32.jpg" data-src="/app/images/collections/cls-32.jpg" alt=""
                                        class=" ls-is-cached lazyloaded">
                                </div>
                                <p class="name link text-lg">NECKLACES <span class="count text-body">26</span></p>
                            </a>
                        </div>
                        <!-- item 5 -->
                        <div class="swiper-slide">
                            <a href="shop-collection-list.html" class="wg-cls hover-img">
                                <div class="image img-style">
                                    <img src="/app/images/collections/cls-33.jpg" data-src="/app/images/collections/cls-33.jpg" alt=""
                                        class=" ls-is-cached lazyloaded">
                                </div>
                                <p class="name link text-lg">RINGS <span class="count text-body">15</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Shop Collection -->
        <!-- Testimonial -->
        <div class="flat-spacing-5 bg-linear">
            <div class="container">
                <div class="tf-sw-thumbs tes_thumb">
                    <div class="swiper sw-thumb sw-tes-thumb">
                        <div class="swiper-wrapper">
                            <!-- item 1 -->
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="/app/images/testimonial/tes-3.jpg" data-src="/app/images/testimonial/tes-3.jpg" alt="" class="lazyload">
                                </div>
                            </div>
                            <!-- item 2 -->
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="/app/images/testimonial/tes-6.jpg" data-src="/app/images/testimonial/tes-6.jpg" alt="" class="lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper sw-main-thumb sw-tes">
                        <div class="swiper-wrapper">
                            <!-- item 1 -->
                            <div class="swiper-slide">
                                <h3 class="tes-text">
                                    “I bought a diamond bracelet for my wife’s birthday, and she absolutely loves it. The quality and sparkle are
                                    exceptional. Thank you, Yash, for making this moment special!”
                                </h3>
                                <div class="tes-author">
                                    <h5 class="name">John Smith</h5>
                                    <p class="duty">Fashion Blogger</p>
                                </div>
                            </div>
                            <!-- item 2 -->
                            <div class="swiper-slide">
                                <h3 class="tes-text">
                                    “Yash truly delivered! The diamond bracelet I got for my wife’s birthday is stunning — elegant, radiant, and
                                    flawless. She loved it, and so did I.”
                                </h3>
                                <div class="tes-author">
                                    <h5 class="name">Mas Shin</h5>
                                    <p class="duty">Design Blogger</p>
                                </div>
                            </div>
                        </div>
                        <div class="sw-group-pagination">

                            <div class="pagination-tes prev-thumb">
                                <i class="icon-arrow-left"></i>
                            </div>
                            <div class="pagination-tes next-thumb">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Testimonial -->
        <!-- Promo -->
        <section class="flat-spacing-3">
            <div class="container">
                <div class="banner_promo">
                    <h2 class="title fw-normal">Get 15% Off Your First Order </h2>
                    <p class="sub-title text-main-4">
                        Join us today and enjoy 15% off your first order. Discover timeless elegance at irresistible prices!
                    </p>
                    <form class="form-email-2 style-border">
                        <div class="form-content">
                            <input type="email" placeholder="Email address" required>
                        </div>
                        <button type="submit" class="tf-btn btn-def-2 type-large px-0">
                            sign up now
                            <i class="icon-arrow-right-3"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!-- /Promo -->